<form action="/drivers" method="post">
  <input type="text" name="driver[name]" placeholder="Name of Driver"/>
  <input type="text" name="driver[car]" placeholder="VIN Number of Car">
  <input type="submit" value="Create Driver" />
</form>
